{{index/hero-image}}

{{#ember-wormhole to='hero-form-container' renderInPlace=isBootstrapSmDown}}
  {{#index/hero-form
    didSubmit=(readonly application.didSubmit)
    onSubmit=(action application.onSubmit) as |form|}}
    {{#unless form.didSubmit}}
      {{index/hero-form/form form
        onViewportEntered=(action (mut isHeroFormShowing) true)
        onViewportExited=(action (mut isHeroFormShowing) false)}}
    {{else}}
      {{index/hero-form/thanks form
        reset=(action (mut form.didSubmit) false)}}
    {{/unless}}
  {{/index/hero-form}}
{{/ember-wormhole}}

{{index/nav-bar
  isShowingEmailButton=(not (or application.didSubmit isHeroFormShowing))}}

{{#index/section-objection id='menu' childrenClass='col-md-6 offset-md-1' as |objection|}}
  {{#objection.question}} Not yet comfortable scrambling an egg? {{/objection.question}}
  {{#objection.answer}} No matter your experience -- kitchen zero or culinary hero -- our tested recipes and 6-week lesson plan will help cooks of all levels build (or brush up on!) the knowledge, skills, and confidence you'll need for a delicious meal. {{/objection.answer}}
{{/index/section-objection}}

{{#index/section-info as |info|}}
  {{#info.title}} Menu {{/info.title}}
  {{#info.lead}} Impress Mom with this deceptively simple 3-course, gourmet meal: {{/info.lead}}

  {{#meal-menu class='row' as |menu|}}
    <div class='col-md-7 p-relative d-flex flex-column'>
      {{#each menu.dishes as |dish|}}
        {{#info.lead tagName='h4' class='text-center d-md-none'}} {{capitalize dish.slug}} {{/info.lead}}
        <div class='card {{dish.slug}} {{if dish.active 'sim-hover'}}'
          onmouseover={{action menu.activate dish}}
          onmouseout={{action menu.deactivate dish}}>
          <img class='card-img-top' src='{{dish.imageUrl}}'>
          <div class='card-body d-md-none'>
            <p class='card-text text-center'> {{dish.description}} </p>
          </div>
        </div>
      {{/each}}
    </div>

    {{#info.content tagName='ul' class='col-md-5 d-none d-md-flex flex-column justify-content-between'}}
      {{#each menu.dishes as |dish|}}
        <li class='i-{{dish.slug}} {{if dish.active 'sim-hover'}}'
          onmouseover={{action menu.activate dish}}
          onmouseout={{action menu.deactivate dish}}>
          {{dish.description}}
        </li>
      {{/each}}
    {{/info.content}}
  {{/meal-menu}}
{{/index/section-info}}

{{#index/section-objection id='six-free-lessons' childrenClass='col-md-6 offset-md-4' as |objection|}}
  {{#objection.question}} Is Mom vegan? Need a gluten-free option? {{/objection.question}}
  {{#objection.answer}} Each lesson focuses on building your knowledge and skills, and includes suggested modifications for popular diets. Your Mother's Day recipes will come with inline notes for vegetarian & vegan options. {{/objection.answer}}
{{/index/section-objection}}

{{#index/section-info as |info|}}
  {{#info.title}} Six Free Lessons {{/info.title}}

  <div class='row'>
    <div class='col-md-6'>
      {{#info.lead}} In the weeks leading up to Mother's Day, you will learn: {{/info.lead}}
      {{#info.content tagName='ul'}}
        <li> Knife skills, including chopping, dicing, and basic safety </li>
        <li> 3 common techniques for cooking proteins like fish, chicken, and tofu </li>
        <li> Where, how, and why to shop for the best ingredients you can get</li>
        <li> How to use your cooking by-products to run a budget-friendly, eco-conscious, continuous kitchen </li>
        <li> What cooking times <em>actually</em> mean </li>
        <li> The strategies real chefs use when planning and presenting tasty, Instagrammable meals </li>
        <li> And much, much more! </li>
      {{/info.content}}
    </div>

    {{course-calendar class='col-md-6 col-lg-5 offset-lg-1 d-flex flex-column'}}
  </div>
{{/index/section-info}}

{{#index/section-objection id='about-us' childrenClass='col-md-6 offset-md-3' as |objection|}}
  {{#objection.question}} Worried about the time commitment? {{/objection.question}}
  {{#objection.answer}} You will only need 2 - 4 hours per week to keep up with our weekly lessons; your full Mother's Day meal will need about 6 hours you can split between two days. Plus, our digital course is designed for your modern schedule, where a weekly 6pm class might not be a flexible enough solution. {{/objection.answer}}
{{/index/section-objection}}

{{#index/section-info as |info|}}
  {{#info.title}} About Us {{/info.title}}

  <div class='row bg-none'>
    <div class='col-md-6 d-flex flex-column'>
      {{#info.lead}} Corey Mintz {{/info.lead}}
      {{#info.content tagName='div'}}
        <p> Corey Mintz is a food writer and columnist for the Globe & Mail, focusing on the intersection between food with politics, farming, labour, ethics and culture. </p>
        <p> Before this spoiled lifestyle, he was a restaurant critic.  Before that spoiled life, he actually worked for a living, as a cook. He is also the author of How to Host a Dinner Party (House of Anansi, 2013). </p>
        <p> For his long running Fed column in the Toronto Star, he has hosted 192 dinner parties. Guests ranged from politicians, criminals, and artists, to hi-rise window washers, competitive barbecuers and police college instructors. </p>
        <p> He is a fully licensed driver. </p>
      {{/info.content}}
    </div>

    <div class='col-md-6 d-flex flex-column'>
      {{#info.lead}} Aidan Nulman {{/info.lead}}
      {{#info.content tagName='div'}}
        <p> Aidan is a serial founder and full-stack developer based in Toronto, Canada who wants to help cooks build confidence as they acquire new skills in the kitchen. </p>
        <p> Prior to developing this course, Aidan was a Partner at Isle of Code, where he shipped web, mobile, and desktop apps for clients including TED, Common Sort, and Humi.</p>
        <p> When not slinging code or in the kitchen, he is most often found bicycling, enjoying live music, or neck-deep in Legend of Zelda: Breath of the Wild. </p>
        <p> Aidan owns an autographed MC Hammer photograph. </p>
      {{/info.content}}
    </div>
  </div>
{{/index/section-info}}

{{#index/section-objection id='what-you-need' childrenClass='col-md-6 offset-md-6' as |objection|}}
  {{#objection.question}} Does running a kitchen for one have to be wasteful? {{/objection.question}}
  {{#objection.answer}} We'll show you how to use by-products like chicken bones to run a continuous kitchen, and how reusing and remixing your leftovers can add variety to your diet. {{/objection.answer}}
{{/index/section-objection}}

{{#index/section-info as |info|}}
  {{#info.title}} What You'll Need {{/info.title}}

  {{#info.lead}} The Basics: {{/info.lead}}
  {{#info.content tagName='div' class='col-md-10 offset-md-1'}}
    <ul>
      {{! todo affiliate? }}
      <li> <strong>A good chef's knife</strong>, like <a href='https://www.amazon.com/dp/B008GRUNOC' target='_blank'>this one from Wusthof</a></li>
      <li> <strong>A cutting board</strong>, like <a href='https://www.amazon.com/dp/B000AAM0EY' target='_blank'>this plastic one from OXO</a></li>
      <li> <strong>A stainless steel pan</strong>, like <a href='https://www.amazon.com/dp/B00JAP44MQ' target='_blank'>this Tramontina skillet</a></li>
      <li> <strong>A rolling pin</strong>, like <a href='https://www.amazon.com/dp/B000IYYFIQ' target='_blank'>this maple dowel</a> (though a wine bottle will do!)</li>
    </ul>

    <p><small>If the linked Amazon product does not ship to your address, try replacing "amazon.com" with your country's localized Amazon, eg "amazon.ca". For more recommendations, check out <a href='https://thewirecutter.com/kitchen-dining/'>The Wirecutter</a>.</small></p>
  {{/info.content}}

  {{#info.lead}} Useful Extras: {{/info.lead}}
  {{#info.content tagName='div' class='col-md-10 offset-md-1'}}
    <p> If you're confident making some extra investments in your kitchen, we also recommend picking up: </p>
    <ul>
      <li>A knife sharpener</li>
      <li>A food processor / blender / immersion blender</li>
    </ul>
  {{/info.content}}
{{/index/section-info}}

{{#index/section-info id='cooking-community' as |info|}}
  {{#info.title}} A Cooking Community {{/info.title}}
  {{#info.lead}} Cooking is best done with others, which is why you will find us on: {{/info.lead}}
  {{#info.content tagName='ul'}}
    <li>Facebook, in the <a href='https://www.facebook.com/groups/193718594710769'>Cook For Mom group</a></li>
    <li>Reddit, at <a href='https://reddit.com/r/cookformom'>/r/cookformom</a></li>
    <li>Instagram, with the hashtag <a href='https://www.instagram.com/explore/tags/cookformom/'>#cookformom</a></li>
    <li>Twitter, with the hashtag <a href='https://twitter.com/search?q=%23cookformom'>#cookformom</a></li>
  {{/info.content}}
{{/index/section-info}}
{{! index/press-testimonials? }}
