{{index/hero-header
  email=email
  validations=validations
  didSubmit=(readonly application.didSubmit)
  onInput=(action (mut email))
  onSubmit=(action application.onEmailSubmitted application email 'hero')
  onFormVisibilityChange=(action (mut isHeroFormShowing))}}

{{index/nav-bar
  email=email
  validations=validations
  isButtonVisible=(not isHeroFormShowing)
  isNudging=(readonly application.isNudging)
  didSubmit=(readonly application.didSubmit)
  onInput=(action (mut email))
  onSubmit=(action application.onEmailSubmitted application email 'nav')
  requestNudgeFor=(action application.requestNudgeFor application 'navbar')
  cancelNudge=(action (mut application.isNudging) false)}}

{{#parallax-container as |parallax|}}
  {{parallax.fluid class='background potatoes'
    onResize=(action computeParallaxBackgroundStyle)}}

  {{#parallax.fluid class='container-fluid mt-4 mb-4 pt-4 pb-4'}}
    {{#index/section-objection class='col-md-4 rounded' as |objection|}}
      {{#objection.question}} Are you more comfortable washing than cooking? {{/objection.question}}
      {{#objection.answer}}
        <p> We will email you <em>6 custom lessons</em>—one per week, every week—specially designed to teach you <em>cooking fundamentals</em>. </p>
        <p> Whether you're a kitchen zero or culinary hero, we are <em>confident</em> you will be ready to cook a <em>gourmet dinner</em> come Mother's Day! </p>
      {{/objection.answer}}
    {{/index/section-objection}}
  {{/parallax.fluid}}
{{/parallax-container}}

{{#index/section-info
  onScrollOutBottom=(action (mut application.canNudgeUser) true) as |info|}}
  <a class='anchor' id='menu' />
  {{#info.title}} Menu {{/info.title}}
  {{#info.lead}} Impress Mom with this deceptively simple 3-course, gourmet meal: {{/info.lead}}

  {{#meal-menu class='row' as |menu|}}
    <div class='col-md-7 p-relative d-flex flex-column'>
      {{#each menu.dishes as |dish|}}
        {{#info.lead tagName='h4' class='text-center d-md-none'}} {{capitalize dish.slug}} {{/info.lead}}
        <div class='card {{dish.slug}} {{if dish.active 'sim-hover'}}'
          onmouseover={{action menu.activate dish}}
          onmouseout={{action menu.deactivate dish}}>
          <img class='card-img-top' src='{{dish.imageUrl}}'>
          <div class='card-body d-md-none'>
            <p class='card-text text-center'> {{dish.description}} </p>
          </div>
        </div>
      {{/each}}
    </div>

    {{#info.content tagName='ul' class='col-md-5 d-none d-md-flex flex-column justify-content-between'}}
      {{#each menu.dishes as |dish|}}
        <li class='i-{{dish.slug}} {{if dish.active 'sim-hover'}}'
          onmouseover={{action menu.activate dish}}
          onmouseout={{action menu.deactivate dish}}>
          {{dish.description}}
        </li>
      {{/each}}
    {{/info.content}}
  {{/meal-menu}}
{{/index/section-info}}

{{#parallax-container as |parallax|}}
  {{parallax.fluid class='background soup'
    onResize=(action computeParallaxBackgroundStyle)}}

  {{#parallax.fluid class='container-fluid mt-4 mb-4 pt-4 pb-4'}}
    {{#index/section-objection class='col-md-4 offset-md-4 rounded' as |objection|}}
      {{#objection.question}} Is Mom vegan? Need a gluten-free option? {{/objection.question}}
      {{#objection.answer}}
        <p> Each weekly lesson focuses on <em>cooking fundamentals</em> useful to carnivores and herbivores alike. </p>
        <p> Lessons' recipes will include suggested modifications for many <em>popular diets</em>; the Week 6 (Mother's Day!) recipes will come with inline notes for <em>vegetarian</em> & <em>vegan</em> options. </p>
      {{/objection.answer}}
    {{/index/section-objection}}
  {{/parallax.fluid}}
{{/parallax-container}}

{{#index/section-info as |info|}}
  <a class='anchor' id='six-free-lessons' />
  {{#info.title}} Six Free Lessons {{/info.title}}

  {{#course-calendar class='row' as |calendar|}}
    <div class='col-md-6'>
      {{#info.lead}} Starting April 2, we will send you new lesson content every week, covering topics such as: {{/info.lead}}
      {{#info.content tagName='ul'}}
        {{#each calendar.lessons as |lesson|}}
          <li class='i-{{lesson.slug}} {{if lesson.active 'sim-hover'}}'
            onmouseover={{action calendar.activate lesson}}
            onmouseout={{action calendar.deactivate lesson}}>
            {{lesson.description}}
          </li>
        {{/each}}
      {{/info.content}}
    </div>

    <div class='col-md-6 col-lg-5 offset-lg-1 d-flex flex-column mt-3 mt-md-0'>
      {{#power-calendar
        center=calendar.center
        onCenterChange=(action (mut calendar.center) value='date')as |power|}}
        {{power.nav}}
        {{#power.days
          startOfWeek=1
          minDate=calendar.min
          maxDate=calendar.max
          dayIsDisabled=calendar.dayIsDisabled as |day|}}
          {{course-calendar/day calendar day
            didSubmit=(readonly application.didSubmit)
            nudgeSignup=(action application.nudge application 'calendar' 'click-today')}}
        {{/power.days}}
      {{/power-calendar}}
    </div>
  {{/course-calendar}}
{{/index/section-info}}

{{#parallax-container as |parallax|}}
  {{parallax.fluid class='background tacos'
    onResize=(action computeParallaxBackgroundStyle)}}

  {{#parallax.fluid class='container-fluid mt-4 mb-4 pt-4 pb-4'}}
    {{#index/section-objection class='col-md-4 offset-md-7 rounded' as |objection|}}
      {{#objection.question}} Feeling crunched for time? {{/objection.question}}
      {{#objection.answer}}
        <p> If you want to spend <em>less than 5 hours per week</em> in the kitchen, let's make the most of your time! Our lessons are packed full of <em>helpful tips</em> for common tasks like shopping, cooking, and cleaning. </p>
        <p> Learning to run a <em>continuous kitchen</em> will further help you <em>save time</em> and <em>eat healthy</em> by reusing by-products like leftover veggies and chicken bones.</p>
      {{/objection.answer}}
    {{/index/section-objection}}
  {{/parallax.fluid}}
{{/parallax-container}}

{{#index/section-info
  onScrollOutBottom=(action application.requestNudgeFor application 'why-is-this-free' 'didScrollPast') as |info|}}
  <a class='anchor' id='why-is-this-free' />
  {{#info.title}} Why Is This Free? {{/info.title}}

  <div class='row align-items-center'>
    <div class='d-none d-md-block col-md-4'>
      <div class='card p-3'>
        <img class='card-img-top' src='/assets/images/heart.jpg'>
      </div>
    </div>

    <div class='col-md-8'>
      {{#info.lead}} We swear, there really is no catch. {{/info.lead}}
      {{#info.content}}
        <p> <em>Cook For Mom</em> is a bespoke, ethically-produced course curated and largely written by <em><a href='#corey'>Corey Mintz</a></em>. Corey is a Toronto-based food writer, and in a former life even <em>cooked professionally</em> (bio below). </p>
        <p> <em><a href='#aidan'>Aidan Nulman</a></em> created this site, owns the accounts, and is subsidizing costs. In his own time, Aidan is working on <em>software for cooks</em>; through this course he hopes to <em>provide value</em> to (and hopefully meet!) strangers who want to cook better. </p>
        <p> While we are inspired by innovation we see in home cooking—from <em>Instant Pot</em> to <em>Blue Apron</em>—we are concerned with recent trends around food education. School districts have been <em>cutting home ec</em> programs since the 1980s, and many Western, dual-income households struggle to build lasting <em>food traditions</em>.</p>
        <p class='mb-0'> We are excited to explore new ways to make food education <em>easy</em> and <em>fun</em>, and very much hope you will join us! </p>
      {{/info.content}}
    </div>
  </div>
{{/index/section-info}}

{{#parallax-container as |parallax|}}
  {{parallax.fluid class='background cookies'
    onResize=(action computeParallaxBackgroundStyle)}}

  {{#parallax.fluid class='container-fluid mt-4 mb-4 pt-4 pb-4'}}
    {{#index/section-objection class='col-md-4 offset-md-5 rounded' as |objection|}}
      {{#objection.question}} Need kitchen gear? {{/objection.question}}
      {{#objection.answer}}
        <p> You don't need a <em>rice cooker</em> or a <em>stand mixer</em> to follow along, but you will need some basics. In particular: </p>
        <ul>
          <li> <strong>A good chef's knife</strong>, like <a href='https://www.amazon.com/gp/product/B008GRUNOC/ref=as_li_tl?ie=UTF8&tag=cookformom-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B008GRUNOC&linkId=1afbe2b8c5e284283d312c9460166836' target='_blank'>this one from Wusthof</a></li>
          <li> <strong>A cutting board</strong>, like <a href='https://www.amazon.com/gp/product/B000AAM0EY/ref=as_li_tl?ie=UTF8&tag=cookformom-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B000AAM0EY&linkId=a5260c521704f1c2ae991abf21d00935' target='_blank'>this plastic one from OXO</a></li>
          <li> <strong>A stainless steel pan</strong>, like <a href='https://www.amazon.com/gp/product/B00JAP44MQ/ref=as_li_tl?ie=UTF8&tag=cookformom-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B00JAP44MQ&linkId=e4433185679e78deda239886e7b8a9b2' target='_blank'>this Tramontina skillet</a></li>
          <li> <strong>A rolling pin</strong>, like <a href='https://www.amazon.com/gp/product/B000IYYFIQ/ref=as_li_tl?ie=UTF8&tag=cookformom-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B000IYYFIQ&linkId=8cf696a7aff51e2d100ba918c88ecc4f' target='_blank'>this maple dowel</a> (though a wine bottle will do in a pinch!)</li>
        </ul>

        <p class='small'>
          If the linked Amazon product does not ship to your address, try replacing "amazon.com" with your country's localized Amazon, eg "amazon.ca".
          For more recommendations, check out <a href='https://thewirecutter.com/kitchen-dining/'>The Wirecutter</a>.
        </p>
      {{/objection.answer}}
    {{/index/section-objection}}
  {{/parallax.fluid}}
{{/parallax-container}}

{{#index/section-info as |info|}}
  <a class='anchor' id='about-us' />
  {{#info.title}} About Us {{/info.title}}

  <div class='row'>
    <div class='col-md-6 d-flex flex-column'>
      <a id='corey' />
      {{#info.lead}} Corey Mintz {{/info.lead}}
      {{#info.content tagName='div' class='d-flex flex-column justify-content-between'}}
        <p> Corey Mintz is a <em>food writer</em> and columnist for the <em>Globe & Mail</em>, focusing on the intersection between food with <em>politics</em>, <em>farming</em>, <em>labour</em>, <em>ethics</em> and <em>culture</em>. </p>
        <p class='d-none d-md-block'> Before this spoiled lifestyle, he was a <em>restaurant critic</em>. Before that spoiled life, he actually worked for a living, as a cook. He is also the author of <em>How to Host a Dinner Party</em> (House of Anansi, 2013). </p>
        <p class='d-none d-md-block'> For his long running Fed column in the <em>Toronto Star</em>, he has hosted <em>192 dinner parties</em>. Guests ranged from politicians, criminals, and artists, to hi-rise window washers, competitive barbecuers and police college instructors. </p>
        <p> He is a fully <em>licensed driver</em>. </p>
      {{/info.content}}
    </div>

    <div class='col-md-6 d-flex flex-column mt-3 mt-md-0'>
      <a id='aidan' />
      {{#info.lead}} Aidan Nulman {{/info.lead}}
      {{#info.content tagName='div' class='d-flex flex-column justify-content-between'}}
        <p> Aidan is a <em>serial founder</em> and <em>full-stack</em> developer based in Toronto, Canada who wants to <em>help cooks build confidence</em> as they acquire new skills in the kitchen. </p>
        <p class='d-none d-md-block'> Prior to developing this course, Aidan was a Partner at <em>Isle of Code</em>, where he shipped web, mobile, and desktop apps for clients including <em>TED</em>, <em>Common Sort</em>, and <em>Humi</em>.</p>
        <p class='d-none d-md-block'> When not slinging code or in the kitchen, he is most often found <em>bicycling</em>, enjoying <em>live music</em>, or neck-deep in <em>Legend of Zelda</em>: Breath of the Wild. </p>
        <p> Aidan owns an autographed <em>MC Hammer</em> photograph. </p>
      {{/info.content}}
    </div>
  </div>
{{/index/section-info}}

{{#parallax-container as |parallax|}}
  {{parallax.fluid class='background heart'
    onResize=(action computeParallaxBackgroundStyle)}}

  {{#parallax.fluid class='container-fluid mt-4 mb-4 pt-4 pb-4'}}
    {{#index/section-objection class='col-md-4 col-md-3 rounded' as |objection|}}
      {{#objection.question}} Don't cook alone! {{/objection.question}}
      {{#objection.answer}}
        <p> Come <em>say hello</em> and share your <em>successes</em> and <em>questions</em> with us online! </p>
        <p> We are committed to maintaining an <em>inclusive community</em> of commenters and co-collaborators. </p>
        <p>
          Please join us on
          <a href='https://facebook.com/cookformomdotcom' target='_blank'>Facebook</a>;
          <a href='https://instagram.com/cookformomdotcom' target='_blank'>Instagram</a>;
          <a href='https://twitter.com/cookformom' target='_blank'>Twitter</a>; and
          <a href='https://reddit.com/r/cookformom' target='_blank'>Reddit</a>.
        </p>
      {{/objection.answer}}
    {{/index/section-objection}}
  {{/parallax.fluid}}
{{/parallax-container}}
