<div class={{routeStyleNamespaceClassSet}}>
  {{#unless isIndexRoute}}
    {{application/nav-bar}}
  {{/unless}}

  {{outlet}}

  {{application/footer-bar tagName='section' class='container-fluid'}}
  {{application/email-prompt}}
  {{application/signup-flow}}
</div>